html {
  font-size: 120%;
}
body {
  margin-top: 7rem;
  height: 100vh;
}
h1 {
  margin-bottom: 4rem;
}
table {
  border-collapse: collapse;
}
th {
  padding: 1rem;
  background-color: gray;
}
table,
tr,
th,
td {
  border: 2px solid black;
}
table {
  text-align: center;
}
section {
  margin: 4rem 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header p {
  font-style: italic;
  font-size: 1.2rem;
}
.button-container {
  padding-right: 2rem;
}
button {
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: gray;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: rgb(65, 63, 63);
}
.container {
  margin: 2rem;
}
.text-center {
  text-align: center;
}
.img-container {
  display: flex;
  justify-content: center;
}
img {
  width: 50%;
}
footer {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
}
footer p {
  font-weight: 700;
  font-style: italic;
}
