:root {
  --img-container-margin: 4rem;
  --dynamic-size: 100%;

  --margin-y-1rem: 1rem 0;
  --margin-y-2rem: 2rem 0;
  --margin-y-3rem: 3rem 0;
  --margin-y-4rem: 4rem 0;
  --margin-y-8rem: 8rem 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  margin-top: 7rem;
  height: 100vh;
}
h1 {
  margin-bottom: 4rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  padding: 1rem;
  background-color: gray;
}

td {
  padding: 1rem;
}
table,
tr,
th,
td {
  border: 2px solid black;
}
table {
  text-align: center;
}
section {
  margin: var(--margin-y-4rem);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header p {
  font-style: italic;
  font-size: 1.2rem;
}
.button-container {
  padding-right: 2rem;
}
button {
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: gray;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: rgb(65, 63, 63);
}
img {
  width: 50%;
}

/* class level */
.container {
  margin: 4rem;
}
.text-center {
  text-align: center;
}
.img-container {
  display: flex;
  justify-content: center;
}

.windows,
.linux,
.macos {
  margin-top: var(--margin-y-8rem);
}

.introduction h2,
.introduction h3,
.windows h2,
.linux h2,
.macos h2 {
  margin: 2rem 0;
}

.introduction ul,
.windows ul,
.linux ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.macos ul {
  padding-left: 1rem;
}
.introduction .img-container,
.windows .img-container,
.linux .img-container,
.macos .img-container {
  margin: var(--margin-y-4rem);
}
.introduction p,
.windows p,
.linux p,
.macos p,
.others p,
.conclusion p {
  margin: 1rem 0;
}
.windows h4,
.linux h4,
.macos h4 {
  margin: 1rem 0;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
}
footer p {
  font-weight: 700;
  font-style: italic;
}
