* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 7rem;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
}
.button-container {
  padding-right: 2rem;
}
button {
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: gray;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: rgb(65, 63, 63);
}
main {
  padding: 4rem;
}

.intro {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
.intro p {
  margin-bottom: 1rem;
}
.intro ol {
  padding-left: 1rem;
}
ol li {
  padding: 0.2rem;
}
.block {
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}
.block:hover {
  cursor: pointer;
}
.point {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.8rem 0;
}
.content {
  font-size: 1rem;
}
li a:visited {
  color: blue;
}
.slideshow {
  position: relative;
}
.left-arrow {
  position: absolute;
}
.righ-arrow {
  position: absolute;
}
.slide {
  display: flex;
  justify-content: center;
}
.slide img {
  width: 50%;
  margin-bottom: 4rem;
}
footer {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
}
footer p {
  font-weight: 700;
  font-style: italic;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 62.5%;
  }
}
